{
  "install_enabled": false,
  "data_root": "./data",
  "update": {
    "url_base": "https://github.com/rob121/cannon/releases/download"
  },
  "extensions": {
    "dir": "./data/extensions",
    "sockets_dir": "./data/sockets"
  },
  "session": {
    "cookie_name": "cannon_session",
    "max_age": 86400
  },
  "sites": [
    {
      "id": "example",
      "name": "Example",
      "host": "http://localhost:8001",
      "database": {
        "type": "sqlite",
        "dsn": "./data/example/example.sqlite"
      },
      "template_dir": "./data/example/templates",
      "assets_dir": "./data/example/assets",
      "tmp_dir": "./data/example/tmp",
      "language_dir": "./data/example/language"
    }
  ]
}
