{{define "itemCard"}}
{{$item := .Item}}
<article class="site-item-summary">
  <header class="site-item-summary__header">
    <h2 class="site-item-summary__title"><a href="{{itemURL $item.Slug}}">{{$item.Title}}</a></h2>
    {{if or $item.Category $item.Author (not $item.CreatedAt.IsZero)}}
    <p class="site-item-summary__meta">
      {{if $item.Category}}<span class="site-item-summary__category"><a href="{{categoryURL $item.Category.Slug}}">{{$item.Category.Name}}</a></span>{{end}}
      {{if and $item.Category $item.Author}} · {{end}}
      {{if $item.Author}}<span class="site-item-summary__author">{{lang "content.by"}} <a href="{{authorURL $item.Author.Username}}">{{if $item.Author.GivenName}}{{$item.Author.GivenName}} {{$item.Author.FamilyName}}{{else}}{{$item.Author.Username}}{{end}}</a></span>{{end}}
      {{if not $item.CreatedAt.IsZero}}
      {{if or $item.Category $item.Author}} · {{end}}
      <time datetime="{{if $item.PublishStart}}{{$item.PublishStart.Format "2006-01-02"}}{{else}}{{$item.CreatedAt.Format "2006-01-02"}}{{end}}">{{if $item.PublishStart}}{{$item.PublishStart.Format "January 2, 2006"}}{{else}}{{$item.CreatedAt.Format "January 2, 2006"}}{{end}}</time>
      {{end}}
    </p>
    {{end}}
  </header>
  {{if $item.Intro}}<div class="site-item-summary__intro">{{richText $item.Intro}}</div>{{end}}
</article>
{{end}}
