{{template "page_header" .}}
<div class="admin-data-card">
  <div class="admin-table-scroll">
    <table class="admin-table">
      <thead>
        <tr>
          {{template "sort_th" (dict "Root" $ "Key" "locale" "Label" "Locale")}}
          {{template "sort_th" (dict "Root" $ "Key" "file" "Label" "File")}}
          {{template "sort_th" (dict "Root" $ "Key" "scope" "Label" "Scope")}}
          {{template "sort_th" (dict "Root" $ "Key" "keys" "Label" "Keys")}}
          <th class="admin-col-actions"></th>
        </tr>
      </thead>
      <tbody>
        {{range .Files}}
        <tr>
          <td>{{.Locale}}</td>
          <td><code class="admin-code">{{.Filename}}</code></td>
          <td>{{template "row_edit_link" (dict "Href" (printf "%s/%s" $.BasePath .Scope) "Label" .Label)}}</td>
          <td>{{.Count}}</td>
          <td class="admin-col-actions">
            <div class="admin-row-actions">
              <a class="btn-admin-icon" href="{{$.BasePath}}/{{.Scope}}" title="Edit File">
                <i class="bi bi-pencil"></i>
              </a>
            </div>
          </td>
        </tr>
        {{else}}
        <tr><td colspan="5" class="admin-table-empty-cell">{{template "table_empty_state" (dict "Icon" "bi-translate" "Title" "No language files yet" "Message" "Add translation files to support multiple languages on your site." "ActionURL" .PageActionURL "ActionLabel" .PageActionLabel "ActionIcon" "bi-plus-lg")}}</td></tr>
        {{end}}
      </tbody>
    </table>
  </div>
  {{template "pagination" .}}
</div>
