<article class="mb-4">
  {{if .Success}}
  {{template "pageHeader" (dict "Title" "Account Verified")}}
  {{else}}
  {{template "pageHeader" (dict "Title" "Verify Account")}}
  {{end}}
  <div class="card shadow-sm">
    <div class="card-body">
      {{if .Error}}<div class="alert alert-danger" role="alert">{{.Error}}</div>{{end}}
      {{if .Success}}
      <div class="alert alert-success" role="alert">{{.Message}}</div>
      <a class="btn btn-primary" href="{{controllerURL "auth" "login"}}">Sign In</a>
      {{end}}
    </div>
  </div>
</article>
